<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/admin_change_password/">Change Password</a><br>
<a href="/myapp/admin_Add_dept/">Add Department</a><br>
<a href="/myapp/admin_view_dept/">View Department</a><br>
<a href="/myapp/admin_Add_course/">Add Course</a><br>
<a href="/myapp/admin_view_course/">View Course</a><br>
<a href="/myapp/admin_Add_staff/">Add Staff</a><br>
<a href="/myapp/admin_view_staff/">View Staff</a><br>
<a href="/myapp/admin_add_student/">Add Student</a><br>
<a href="/myapp/admin_view_student/">View Student</a><br>
<a href="/myapp/admin_add_authority/">Add Authority</a><br>
<a href="/myapp/admin_view_authority/">View Authority</a><br>
<a href="/myapp/admin_view_violence/">View Violencereport</a><br>
<a href="/myapp/admin_view_late_notification/">View LateComing</a><br>
<a href="/myapp/admin_view_complaint/">View Complaint</a><br>
</body>
</html>