{% extends 'Admin/home index.html' %}
{% block body %}

<body><form action="/myapp/edit_authority_post/" method="post"><table class="table table-bordered">
    {% csrf_token %}
  <tr>
    <td>Name</td><input type="hidden" value="{{ data.id }}" name="id" class="form-control">
    <td><input type="text" value="{{ data.name }}" name="textfield" id="textfield" class="form-control"required /></td>
  </tr>
  <tr>
    <td>DOB</td>
    <td><input type="date" value="{{ data.dateofbirth | date:'Y-m-d' }}" name="textfield2" id="textfield2" class="form-control"required /></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td><p>Male
      <input type="radio" {% if data.gender == 'Male'  %}checked{% endif %} name="radio" id="radio" value="Male" />
    </p>
      <p>Female
        <input type="radio" {% if data.gender == 'Female'  %}checked{% endif %} name="radio" id="radio2" value="Female" />
      </p></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><input type="email" value="{{ data.email }}" name="textfield3" id="textfield3" class="form-control" required/></td>
  </tr>
  <tr>
    <td>Ph.no</td>
    <td><input type="text" value="{{ data.phone }}" name="textfield4" id="textfield4" class="form-control" pattern="[9876][0-9]{9}" maxlength="10" required/></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" id="button" value="Update" class="btn btn-warning"/></td>
  </tr>
</table>
</form>
</body>
{% endblock %}
