{% extends 'admin/home index.html' %}
{% block body %}

<body><form action="/myapp/admin_view_late_notification_post/#abc" method="post"><table class="table table-bordered" >
    {% csrf_token %}
{#  <tr>#}
{#    <td>From</td>#}
{#    <td><input type="text" name="textfield" id="textfield" required/></td>#}
{#    <td>To</td>#}
{#    <td><input type="text" name="textfield2" id="textfield2" required/></td>#}
{#    <td><input type="submit" name="button" id="button" value="Search" /></td>#}
{#  </tr>#}
</table>
  <table class="table table-bordered">
    <tr>
      <td>Si.no</td>
      <td>Date</td>
      <td>Time</td>
{#      <td>Photo</td>#}
      <td>Student</td>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td>&nbsp;{{ i.time }}</td>
{#      <td>{{ i.photo }}</td>#}
      <td>&nbsp;{{ i.STUDENT.name }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
